<div>
	<nav>
	    <a href="#/success">Home</a>
	    <a href="#/new_question">Add a question</a>
	    <a href="#/">logout</a>
 	</nav>
 	<!-- add new questions -->
 	
 	<div>
	 	<h1>New Question</h1>
		<form ng-submit="addQuestion(newQuestion, currentUser)">
			<fieldset>
				<legend>Question: </legend>
				<textarea ng-model="newQuestion.content"></textarea>
				<legend>Description: </legend>
				<textarea ng-model="newQuestion.desc"></textarea>
				<button>Add Question</button>
				<a href="#/success">cancel</a>
			</fieldset>
		</form>
	</div>
</div>