<div>
	<nav>
	    <a href="#/success">Home</a>
	    <a href="#/new_question">Add a question</a>
	    <a href="#/">logout</a>
 	</nav>
 	
 	<hr/>

 	<div>
 		<h1>Question: {{oneQuestion.data.content}}</h1>
 		<p>Description: {{oneQuestion.data.desc}}</p>
 		
 		<hr/>

 		<div ng-repeat="a in answers">
 			<p>{{a._user}}</p>
 			<p>{{a.content}}</p>
			<nav>{{a.likes}} | <form ng-submit="">
			<!-- addLike(newLike, a._id) -->
				<input type="hidden" ng-model="newLike.likes" />
				<input type='hidden' ng-model="newLike._id" value="a._id" />
				<button>Like</button>
			</form></nav>
 		</div>
 	</div>
</div>