<div>
	<nav>
	    <a href="#/success">Home</a>
	    <a href="#/new_question">Add a question</a>
	    <a href="#/">logout</a>
 	</nav>

	<h1>Welcome, <a href="">{{currentUser.name}}</a></h1>
	<nav>
		<form>
			<input type="text" ng-model='filter_name' placeholder="search question..." />
			<input type="submit" value="Filter">
		</form>
	</nav>

	<hr/>

	<!-- <div class="dup">{{dup.msg}}</div> -->

	<div id="content">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Question</th>
					<th>Answers</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="q in questions | filter: filter_name track by $index">
					<td>{{q._user.name}}</td>
					<td>{{q.content}}</td>
					<td>{{q.answers.length}}</td>
					<td><a href="#/question/{{q._id}}">show</a> | <a href="#/question/{{q._id}}/new_answer">answer</a></td>
				</tr>
			</tbody>
		</table>
	</div><!-- class content ends -->
</div>